server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**
        - id: patient-service
          uri: http://localhost:8082
          predicates:
            - Path=/patients/**
        - id: doctor-service
          uri: http://localhost:8083
          predicates:
            - Path=/doctors/**
        - id: appointment-service
          uri: http://localhost:8084
          predicates:
            - Path=/appointments/**
  redis:
    host: localhost
    port: 6379

management:
  endpoints:
    web:
      exposure:
        include: prometheus, health
