server:
  port: 8082

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/healthcare_appointments
    username: root
    password: yourpassword
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus
